#speaker-container{
    position: fixed;
    top: 7px;
    right: 7px;
    width: 144px;
    height: 148px;
/*    background-color: red;*/
}
.hidden{
    display: none !important;
}

.screenreader-highlight {
    text-decoration: underline;
/*    -webkit-transition: -webkit-transform 1s linear;
    -webkit-transform: scale(1.2);*/
/*    position: relative;*/
    background: rgba(255,255,255,0.5);
}