{
  "env": {
    "es2021": true,
    "browser": true,
    "node": false,
    "webextensions": true
  },
  "extends": [
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "rules": {
    "no-console": "error"
  },
  "plugins": [
    "no-only-tests"
  ],
  "overrides": [
    {
      "files": [
        "web-dev-server.config.mjs",
        "playwright.config.js"
      ],
      "env": {
        "browser": false,
        "node": true
      }
    },
    {
      "files": [
        "test/**/*.test.js"
      ],
      "env": {
        "browser": true,
        "node": true,
        "mocha": true
      },
      "rules": {
        "no-only-tests/no-only-tests": "error"
      }
    }
  ]
}
